/* `per visualizzare active sui link con font-weight */
.nav-link:hover {
    font-weight: 800;
}

.nav-link.active {
    font-weight: 800;
}

.prodotti-link {
    text-decoration: none;
    transition: transform 0.3s ease;

}

.prodotti-link:hover {
    transform: scale(1.05);
}

.card {
    width: 18rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}